//==========================================================
//========================DEVELOPMENT========================

.development {
	margin-bottom: 80px;
	&__heading {
		margin: 80px auto;
		display: flex;
		align-items: center;
		gap: 54px;
		@media only screen and (max-width: 768px) {
			flex-direction: column;
			text-align: center;
		}
		@media only screen and (max-width: 480px) {
			gap: 27px;
		}
	}
	&__title {
		font-size: 54px;
		line-height: 1.2;
		text-transform: uppercase;
		@media only screen and (max-width: 1320px) {
			font-size: 46px;
		}
		@media only screen and (max-width: 992px) {
			font-size: 32px;
		}
		@media only screen and (max-width: 480px) {
			font-size: 22px;
		}
	}
	&__info {
		@include gradient-text-gray;
		max-width: 730px;
		font-size: 24px;
		line-height: 1.5;
		@media only screen and (max-width: 992px) {
			font-size: 20px;
		}
		@media only screen and (max-width: 480px) {
			font-size: 16px;
		}
	}
	.swiper {
		padding: 0 calc((100vw - 1300px - 30px) / 2);
		@media only screen and (max-width: 1320px) {
			padding-left: 30px;
		}
	}
	.swiper-slide {
		width: 450px;
		height: 500px;
		display: flex;
		@media only screen and (max-width: 480px) {
			height: 400px;
		}
	}
	&__item {
		padding: 15px;
		flex-direction: column;
		border-radius: 30px;
		background: $black;
		align-items: center;
		text-align: center;
		position: relative;
	}
	&__item-media {
		width: 422px;
		height: 240px;
		border-radius: 30px;
		overflow: hidden;
		z-index: -1;
		img {
			width: 100%;
			height: 100%;
		}
		@media only screen and (max-width: 480px) {
			width: auto;
			height: 100%;
			img {
				width: 100%;
				height: 100%;
			}
		}
		@media only screen and (max-width: 400px) {
			width: auto;
			height: 50%;
		}
	}
	&__item-number {
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 50%;
		background: $white;
		color: $gray;
		font-size: 42px;
		line-height: 64px;
		text-transform: uppercase;
		position: absolute;
		top: 194px;
		width: 114px;
		height: 114px;
		&::before {
			content: '';
			position: absolute;
			z-index: -1;
			width: 120px;
			height: 120px;
			background: $gradient;
			border-radius: 50%;
		}
		@media only screen and (max-width: 992px) {
			top: 204px;
			font-size: 36px;
			width: 94px;
			height: 94px;
			&::before {
				width: 100px;
				height: 100px;
			}
		}
		@media only screen and (max-width: 480px) {
			top: 180px;
			font-size: 24px;
			width: 74px;
			height: 74px;
			&::before {
				width: 80px;
				height: 80px;
			}
		}
		@media only screen and (max-width: 400px) {
			top: 160px;
		}
	}
	&__item-title {
		@include gradient-text-purple-blue;
		margin: 72px 0 18px;
		font-size: 26px;
		line-height: 1.2;
		letter-spacing: 2px;
		@media only screen and (max-width: 480px) {
			font-size: 20px;
		}
		@media only screen and (max-width: 380px) {
			font-size: 16px;
		}
	}
	&__item-description {
		@include gradient-text-gray;
		max-width: 340px;
		font-size: 22px;
		line-height: 1.5;
		@media only screen and (max-width: 480px) {
			font-size: 16px;
		}
	}
}
