//==========================================================
//=========================FOOTER===========================

.footer {
	margin-top: 140px;
	padding: 48px 70px;
	display: flex;
	justify-content: space-between;
	@media only screen and (max-width: 768px) {
		padding: 48px 30px;
	}
	@media only screen and (max-width: 480px) {
		margin-top: 70px;
	}
	@media only screen and (min-width: 1921px) {
		margin: 140px auto 0;
		width: 1920px;
	}
	&__logo {
		@media only screen and (max-width: 480px) {
			margin: 0 auto;
		}
	}
	&__nav {
		display: flex;
		align-items: flex-end;
		gap: 22px;
		@media only screen and (min-width: 1921px) {
			font-size: 22px;
		}
	}
	&__nav-item {
		padding: 10px;
		transition: all 0.3s ease;
		font-weight: 400;
		&:hover {
			color: $purple;
			transform: scale(1.2);
		}
		@media only screen and (max-width: 1320px) {
			display: none;
		}
	}
	&__social {
		display: flex;
		gap: 14px;
		@media only screen and (max-width: 1320px) {
			gap: 30px;
		}
		@media only screen and (max-width: 480px) {
			display: none;
		}
	}
	&__social-icon {
		width: 44px;
		height: 44px;
		display: flex;
		align-items: center;
		justify-content: center;
		color: $white;
		fill: $white;
		transition: all 0.3s ease;
		&:hover {
			color: $purple;
			fill: $purple;
			transform: scale(1.2);
		}
	}
}
