<div class="create__container">
	<h2 class="create__title section__title">Create Your Own Personal Space</h2>
	<p class="create__description container">
		Everyone needs a place to call their own. RINE VR allows you to create your
		own personal space that can be customized with 3D spaces, furniture and
		decorations exactly how you want it. It's like having your own little slice
		of heaven in the metaverse!
	</p>
	<div class="create__media">
		<img src="./img/advantages/create-img.jpg" alt="" />
	</div>
</div>
