<div class="explore__container container">
	<h2 class="explore__title section__title">explore</h2>
	<p class="explore__description section__description">
		Reality Is Never Enough is a Virtual Reality platform accessible through
		Oculus and via RINE VR App. It’s a parallel universe where you can join the
		best NFT, design, fashion, jewellery, automotive and luxury properties
		departments.
	</p>
	<div class="explore__arrow">
		<img src="./img/icons/arrow-bottom.svg" alt="arrow-bottom" />
	</div>
	<button class="explore__media">
		<img src="./img/whitelist/explore-img.jpg" alt="" />
	</button>
	<p class="explore__media-description">
		Immerse yourself in a realistic 3D universe and explore new worlds, meet
		people from around the globe, and participate in unforgettable experiences.
		Browse and buy real products from your favourite brands, create your own
		personal space, join exclusive virtual events, and enjoy a range of exciting
		activities. Join us today and start exploring the metaverse like never
		before!
	</p>
	<button data-popup="#popup-whitelist" class="explore__button button">
		Join the Whitelist
	</button>
</div>
