<h2 class="faq__title section__title">FAQ</h2>
<ul class="spoilers" data-accordion>
	<li class="spoilers__item">
		<button class="spoilers__control" aria-expanded="false">
			What is RINE VR?
		</button>
		<div class="spoilers__content" aria-hidden="true">
			RINE VR is a virtual reality platform that allows users to explore,
			create, and connect in a metaverse environment.
		</div>
	</li>
	<li class="spoilers__item">
		<button class="spoilers__control" aria-expanded="false">
			What devices are compatible with RINE VR?
		</button>
		<div class="spoilers__content" aria-hidden="true">
			Currently, RINE VR is compatible with Oculus Quest 2 and Oculus Quest Pro.
		</div>
	</li>
	<li class="spoilers__item">
		<button class="spoilers__control" aria-expanded="false">
			How do I access RINE VR?
		</button>
		<div class="spoilers__content" aria-hidden="true">
			You can access RINE VR by downloading the app from the Oculus store.
		</div>
	</li>
	<li class="spoilers__item">
		<button class="spoilers__control" aria-expanded="false">
			Is RINE VR free to use?
		</button>
		<div class="spoilers__content" aria-hidden="true">
			Yes, RINE VR is free to use. However, some features may require a
			subscription or additional payment.
		</div>
	</li>
	<li class="spoilers__item spoiler--open">
		<button class="spoilers__control" aria-expanded="false">
			What kind of experiences are available on RINE VR?
		</button>
		<div class="spoilers__content" aria-hidden="true">
			RINE VR offers a range of experiences, including social gatherings,
			creative tools, and entertainment events.
		</div>
	</li>
	<li class="spoilers__item">
		<button class="spoilers__control" aria-expanded="false">
			Can I create my own content on RINE VR?
		</button>
		<div class="spoilers__content" aria-hidden="true">
			Yes, RINE VR provides a set of creative tools that allow users to design
			and customise their own virtual spaces.
		</div>
	</li>
	<li class="spoilers__item">
		<button class="spoilers__control" aria-expanded="false">
			Is there a community aspect to RINE VR?
		</button>
		<div class="spoilers__content" aria-hidden="true">
			Yes, RINE VR has a strong community aspect with opportunities to connect
			with like-minded individuals and participate in events and activities.
		</div>
	</li>
	<li class="spoilers__item">
		<button class="spoilers__control" aria-expanded="false">
			What is the Platinum NFT membership?
		</button>
		<div class="spoilers__content" aria-hidden="true">
			The Platinum NFT membership is a premium membership that provides
			exclusive access to certain features and events on RINE VR.
		</div>
	</li>
	<li class="spoilers__item">
		<button class="spoilers__control" aria-expanded="false">
			How can I become a Platinum NFT member?
		</button>
		<div class="spoilers__content" aria-hidden="true">
			You can become a Platinum NFT member by purchasing the Platinum NFT on the
			RINE website or through a supported NFT marketplace.
		</div>
	</li>
</ul>
