<h2 class="partner__title section__title">Partners</h2>
<div class="swiper swiper--partner">
	<div class="swiper-wrapper">
		<div class="swiper-slide partner__item">
			<img
				src="./img/partners/partners-1.png"
				class="partner__logo"
				height="79px"
				alt=""
			/>
		</div>
		<div class="swiper-slide partner__item">
			<img
				src="./img/partners/partners-2.png"
				class="partner__logo"
				height="65px"
				alt=""
			/>
		</div>
		<div class="swiper-slide partner__item">
			<img
				src="./img/partners/partners-3.png"
				class="partner__logo"
				height="65px"
				alt=""
			/>
		</div>
		<div class="swiper-slide partner__item">
			<img
				src="./img/partners/partners-4.png"
				class="partner__logo"
				height="65px"
				alt=""
			/>
		</div>
		<div class="swiper-slide partner__item">
			<img
				src="./img/partners/partners-5.png"
				class="partner__logo"
				height="65px"
				alt=""
			/>
		</div>
		<div class="swiper-slide partner__item">
			<img
				src="./img/partners/partners-6.png"
				class="partner__logo"
				height="65px"
				alt=""
			/>
		</div>
	</div>
</div>
