<div class="pass__container container">
	<div class="pass__media">
		<img src="./img/utility/utility-pass.jpg" alt="" />
	</div>
	<div class="pass__content">
		<h3 class="pass__title">Utility pass</h3>
		<p class="pass__description">
			RINE VR's NFT project, Platinum Membership, is an exciting opportunity to
			support the platform's growth and development while gaining access to
			exclusive benefits. With the purchase of this membership, you will gain
			Platinum status, which provides free access to virtual and real events,
			priority in purchasing virtual spaces, and maximum involvement in the
			platform's news, updates and investment opportunities.
		</p>
	</div>
</div>
