<h2 class="talk__title">Let’s talk</h2>
<form class="talk__form">
	<ul class="talk__form-list">
		<li class="talk__form-item">
			<input type="text" placeholder="Name" class="talk__input" />
		</li>
		<li class="talk__form-item">
			<input
				type="email"
				placeholder="Email address*"
				class="talk__input"
				required
			/>
		</li>
		<li class="talk__form-item">
			<input
				type="text"
				placeholder="Telegram username*"
				class="talk__input"
				required
			/>
		</li>
		<li class="talk__form-item">
			<input type="text" placeholder="Subject*" class="talk__input" required />
		</li>
		<li class="talk__form-item">
			<input
				type="text"
				placeholder="Socials (website/ twitter etc.)*"
				class="talk__input"
				required
			/>
		</li>
		<li class="talk__form-item">
			<input type="text" placeholder="Message*" class="talk__input" required />
		</li>
	</ul>
	<button class="talk__from-submit button">Submit</button>
</form>
