<div class="container">
	<h2 class="team__title section__title">TEAM</h2>
	<ul class="team__list">
		<li class="team__item">
			<div class="team__avatar">
				<img src="./img/team/team-1.jpg" alt="" />
			</div>
			<h3 class="team__name">Antonio Longhin</h3>
			<h4 class="team__position">Business Developer</h4>
			<p class="team__info">
				Strategic thinker forging partnerships and driving growth for RINE VR.
			</p>
		</li>
		<li class="team__item">
			<div class="team__avatar">
				<img src="./img/team/team-2.jpg" alt="" />
			</div>
			<h3 class="team__name">Cristiano Piccini</h3>
			<h4 class="team__position">CEO</h4>
			<p class="team__info">
				Experienced entrepreneur leading RINE VR's vision for a transformative
				metaverse.
			</p>
		</li>
		<li class="team__item">
			<div class="team__avatar">
				<img src="./img/team/team-3.jpg" alt="" />
			</div>
			<h3 class="team__name">Fabio Cesarato</h3>
			<h4 class="team__position">CTO</h4>
			<p class="team__info">
				Innovative technologist driving RINE VR's cutting-edge platform
				development.
			</p>
		</li>
	</ul>
	<p class="team__description">
		“We are proud to be supported by Leahgacy and Airlapp (airlapp.com), two
		powerful companies dedicated to advancing the field of virtual reality.
		Together with their expert teams and extensive knowledge, we are creating a
		groundbreaking metaverse platform that is sure to revolutionize the way we
		interact in the digital world. Learn more about our partners and their
		contributions on their respective websites.”
	</p>
</div>
