<h2 class="utility__title section__title">Utility</h2>
<div class="utility__container">
	<div class="utility__block">
		<h3 class="utility__block-title">Metaverse Virtual Events & Experiences</h3>
		<p class="utility__block-description">
			Bring the real world into the metaverse and experience it like never
			before. Host exclusive events, meet your favorite celebrities and explore
			new worlds in the metaverse with RINE VR's events platform.
		</p>
	</div>
	<div class="utility__media">
		<img src="./img/utility/utility-pc-vr.png" alt="" />
		<span>PC VR MODE</span>
	</div>
	<div class="utility__block">
		<h3 class="utility__block-title">Realistic Virtual Experience</h3>
		<p class="utility__block-description">
			Feel like you're in a real space with our realistic virtual environment
			that provides unparalleled immersion and connection. Our cutting-edge
			technology offers realistic 3D visuals and audio for a one-of-a-kind
			experience.
		</p>
	</div>
</div>
