@mixin gradient-text-gray {
	background-image: linear-gradient(
		to bottom,
		rgba($white, 0.9),
		rgba($white, 0.6)
	);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-weight: 400;
}

@mixin gradient-text-purple-blue {
	background-image: linear-gradient(to right, #ef2dff, #4672ff);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-weight: 900;
}
