// Color

$bg-color: #0a0f1d;
$catalog-bg-color: #0b0d19;
$spoiler-bg-color: #0e101c;
$white: #fff;
$black: #000;
$gray: #6c6f77;
$purple: #ef2dff;
$green: #7ffb54;
$red: #ff4141;

$gradient: linear-gradient(270deg, #ef2dff 0%, #013dff 100%);
$gradient-vert: linear-gradient(to top, #ef2dff 0%, #013dff 100%);
